<template name="editControlsRightPanel">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Current control</p>
                <select id="controls-list" class="form-control">
                  {{#each controls}}
                    {{> controlSelect}}
                  {{/each}}
                </select>
                <a id="change-text-button" class="btn btn-primary btn-block"><span>Change control text</span></a>
                <div id="change-text-div" style="display: none">
                    <input id="change-text-input" class="form-control" type="text" name="textName">
                    <div class="btn-toolbar">
                        <a id="cancel-change-text" class="btn btn-danger"><span>Cancel</span></a>
                        <a id="change-text" class="btn btn-primary pull-right"><span>Change</span></a>
                    </div>
                </div>
                <p>Control width</p>
                <select id="control-width" class="form-control">
                        {{> widthSelect}}
                </select>
                <p>Control height</p>
                <select id="control-height" class="form-control">
                    {{> heightSelect}}
                </select>
            </div>
        </div>
    </div>
</template>
