<template name="editScreen">
    <div class="interface-container">
        <div class="blank-row">
            <div class="span12">
                <h1> </h1>
            </div>
        </div>
        <div class="row">
        <div class="interface-header">
        <h4 class="custom-header minimal-margin">Here you can edit your <span id="currentScreen" class="common">Main</span> screen</h4>
        </div>
        </div>
        <div class="container-fluid center-height">
            <h3 class="background-tips">Tooltip: You can add new interface elements here, or edit existing.</h3>
        </div>
        {{>editRightPanel}}
    </div>
</template>