<template name="editRightPanel">

    <div class="right-panel">
    <p class="pull-center right-panel-interface-border custom-header">Current screen</p>

    <select id="screens-list" class="form-control right-panel-interface-border form-control-right-panel">
      {{#each screens}}
        {{> screenSelect}}
      {{/each}}
    </select>

    <button id="create-screen-button" class="blue-button right-panel-interface-border custom-href">Add new screen</button>
    <div id="create-screen-div" style="display: none" >
        <form class="main form" id="create-screen-form">
            <input id="create-screen-input" class="right-panel-interface-border form-control-right-panel" type="text" name="screenName" placeholder="Enter screen name"/>
            <div class="form-group">
                <input type="submit" value="Create" class="common blue-button right-panel-interface-border half-width">
                <button id="cancel-create-screen" class="common blue-button right-panel-interface-border half-width">Cancel</button>
            </div>
        </form>
    </div>

    <button id="delete-screen-button" class="blue-button right-panel-interface-border custom-href">Delete current screen</button>
    <div id="delete-screen-div" style="display: none" >
        <form class="main form"  id="delete-screen-form">
            <div class="form-group">
              <input type="submit" value="Delete" class="common blue-button right-panel-interface-border half-width">
              <button id="cancel-delete-screen" class="common blue-button right-panel-interface-border half-width">Cancel</button>
            </div>
        </form>
    </div>

</div>

</template>