<template name="editRightPanel">
    <div class="container right-panel">
        <h6 class="foo">Current screen</h6>
        <select class="select_styled select_styled_orange full-width">
            {{#each screens}}
                {{> screenSelect}}
            {{/each}}
        </select>

        <a class="btn btn-small btn-block"><span>Create new screen</span></a>
        <form>
        <input type="text" name="name" id="name" placeholder="Enter screen name">
            <a class="link-reset btn btn-small half-width"><span>Discard</span></a>
            <a class="link-reset btn btn-small half-width"><span>Discard</span></a>
        </form>
    </div>
</template>
