<template name="mainScreen">
    <div class="interface-container">
        <div class="blank-row">
            <div class="span12">
                <h1> </h1>
            </div>
        </div>
        <div class="row">
            <div class="interface-header">
                <h4 class="custom-header minimal-margin">Welcome, {{user_name}}! This is your main screen. Use help to know more.</h4>
            </div>
        </div>
        <div class="container-fluid center-height">
            <h3 class="background-tips">Tooltip: You can add new screens here, or edit existing.</h3>
        </div>
        <div class="row"> <!-- buttons container -->
            <div class="left-button">
                <a href="{{pathFor 'Help'}}">
                    <button class="blue-button">Help</button>
                </a>
            </div>
            <div class="right-button">
                <a href="{{pathFor 'editScreen'}}">
                    <button class="red-button">Edit current screen</button>
                </a>
            </div>
        </div> <!-- buttons container -->
    </div>
</template>