<template name="header">
    <nav class="navbar navbar-default">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li class="navbar-brand common interface-login-button">{{>loginButtons}}</li>
                        <li><a href="{{pathFor 'mainScreen'}}"><p class="custom-href interface-main-page-button">Main screen</p></a></li>
                    {{else}}
                        <span class="navbar-brand common"><p class="common-brand">Hyd-ra</p></span>
                        <li><a href="{{pathFor 'solutionsList'}}"><p class="custom-href">Home</p></a></li>
                        <li><a href="{{pathFor 'aboutPage'}}"><p class="custom-href">About</p></a></li>
                        <li><a href="{{pathFor 'contactsPage'}}"><p class="custom-href">Contacts</p></a></li>
                        <li class="navbar-brand common">{{>loginButtons}}</li>
                    {{/if}}
               </ul>
            </div>
    </nav>
</template>