<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand common"><p class="common-brand">Hyd-ra</p></span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'solutionsList'}}"><p class="custom-href">Home</p></a></li>
                    <li><a href="{{pathFor 'about'}}"><p class="custom-href">About</p></a></li>
                    <li><a href="{{pathFor 'contacts'}}"><p class="custom-href">Contact</p></a></li>
                    <li class="navbar-brand common">{{>loginButtons}}</li>
               </ul>
                <!-- <ul class="nav navbar-nav navbar-right">

                     <li></li>
                     <span></span>
                 </ul>-->
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</template>