<template name="header">
<div class="row">
    <div class="col-sm-12
    ">
    <div class="dropdown-wrap boxed-velvet">
        <ul class="dropdown inner clearfix">
    {{#if currentUser}}
            <li class="menu-level-0">{{>loginButtons}}</li>
            <li class="menu-level-0"><a href="{{pathFor 'mainScreen'}}">main screen</a></li>
            <li class="menu-level-0"><a href="{{pathFor 'screenList'}}">screens</a></li>
            <li class="menu-level-0"><a href="{{pathFor 'editScreen'}}">edit</a>
                <ul class="submenu-1">
                    <li class="menu-level-1"><a href="#">screens</a></li>
                    <li class="menu-level-1"><a href="#">controls</a></li>
                    <!--<li class="menu-level-1"><a href="#">Contacts</a>-->
                        <!--<ul class="submenu-2">-->
                            <!--<li class="menu-level-2"><a href="#">Gallery images</a></li>-->
                            <!--<li class="menu-level-2"><a href="#">OneByOne Slider</a></li>-->
                            <!--<li class="menu-level-2"><a href="#">Video in header</a></li>-->
                            <!--<li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </li>
        <li class="menu-level-0"><a href="{{pathFor 'Help'}}">help</a></li>
    {{else}}
            <li class="menu-level-0"><a href="#"><span>Settings</span></a>
                <ul class="submenu-1">
                    <li class="menu-level-1"><a href="#">Privacy Policy</a></li>
                    <li class="menu-level-1"><a href="#">Copyright</a></li>
                    <li class="menu-level-1"><a href="#">Terms of Service</a>
                        <ul class="submenu-2">
                            <li class="menu-level-2"><a href="#">Gallery images</a></li>
                            <li class="menu-level-2"><a href="#">OneByOne Slider</a></li>
                            <li class="menu-level-2"><a href="#">Video in header</a></li>
                            <li class="menu-level-2"><a href="#">Image &amp; Video Slider</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-level-0"><a href="#"><span>Log Out</span></a></li>
    {{/if}}
        </ul>
    </div>
    </div>
</div>
</template>