<template name="screenPage">
    <div class="row" style="height: 100%">
        <div class="col-sm-12">
            <h6 class="foo">{{screen_name}}</h6>
            <div class="widget-container widget_profile boxed-velvet" style="height: 100%; margin: 0%">
            <div class="inner gradient" style="height: 100%">
                <div class="widget_profile_top clearfix">
                    <div class="avatar">
                        <img src="/images/temp/avatar.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>