<template name="homeSolutionsPage">
    <div class="solutions">
        <div class="row custom-background">
            <div class="span6">
                <h2><a href="{{pathFor 'lightingPage'}}" class="custom-href">Light control</a></h2>
            </div>
        </div>
        <div class="row custom-background">
            <div class="span6">
                <h2><a href="{{pathFor 'videoPage'}}" class="custom-href">Video tracking</a></h2>
            </div>
        </div>
        <div class="row custom-background">
            <div class="span6">
                <h2><a href="{{pathFor 'climatePage'}}" class="custom-href">Climate control</a></h2>
            </div>
        </div>
    </div>
</template>