<template name="homeSolutionsPage">
    <div class="blank-row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3 class="custom-header-default minimal-margin">Solutions for home control and automatisation</h3>
        </div>
    </div>
    <div class="solutions">
        <div class="row custom-background">
            <div class="span12">
                <h2><a href="{{pathFor 'lightingPage'}}" class="custom-href">Light control</a></h2>
            </div>
        </div>
        <div class="row custom-background">
            <div class="span12">
                <h2><a href="{{pathFor 'videoPage'}}" class="custom-href">Video tracking</a></h2>
            </div>
        </div>
        <div class="row custom-background">
            <div class="span12">
                <h2><a href="{{pathFor 'climatePage'}}" class="custom-href">Climate control</a></h2>
            </div>
        </div>
    </div>
</template>