<template name="solutionsList">
    <div class="row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3 class="custom-description">Cloud service for control your equipment</h3>
        </div>
    </div>
    <div class="solutions">
        <div class="row custom-background">
            <div class="span6">
                <h2><a href="{{pathFor 'homeSolutionsPage'}}" class="custom-href">&#8226;&nbsp;&nbsp;Solutions for home automatisation</a></h2>
            </div>
        </div>
        <div class="row custom-background">
            <div class="span6">
                <h2><a href="{{pathFor 'growingSolutionsPage'}}" class="custom-href">&#8226;&nbsp;&nbsp;Solutions for plant-growing</a></h2>
            </div>
        </div>
        <div class="row custom-background">
            <div class="span6">
                <h2><a href="{{pathFor 'aquaSolutionsPage'}}" class="custom-href">&#8226;&nbsp;&nbsp;Solutions for aquariums</a></h2>
            </div>
        </div>
    </div>
</template>