<template name="aboutPage">
    <div class="blank-row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3 class="custom-header-default minimal-margin">About our service</h3>
        </div>
    </div>
    <p class="row custom-background common">We are glad to present for you our cloud service for make your life easyer.
        Key concept of the service - using Arduino controllers to control your
        different equipment. In case of interface element - there are two solutions:
        you can control your Arduinos by any mobile device with Android support
        (in this case device connection with Arduino established by Bluetooth protocol),
        or, with Arduino connected to the WEB you can control it from your browser
        application with any device,
        that it has. First variant - means that your system is independent from the internet.
        Second - you can control your equipment from every point from the world, of cause if
        you have internet connection.
    </p>

</template>