<template name="aboutPage">
    <div class="blank-row">
        <div class="span12">
            <h1> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3 class="custom-header-default minimal-margin">About our service</h3>
        </div>
    </div>
    <div class="container custom-background common">
        <p class="row" style="padding-left: 10px; padding-right: 10px">
            &nbsp; &nbsp; &nbsp; &nbsp; We are glad
            to present for you our cloud service for make your life easier.
            Key concept of the service - using Arduino controllers to control your
            different equipment. In case of interface element - there are two solutions:
            you can control your Arduinos by any mobile device with Android support
            (in this case device connection with Arduino established by Bluetooth protocol),
            or, with Arduino connected to the WEB you can control it from your browser
            application with any device,
            that it has. First variant - means that your system is independent from the internet.
            Second - you can control your equipment from every point from the world, of cause, if
            you have internet connection.
        </p>
        <p class="row" style="padding-left: 10px; padding-right: 10px">
            &nbsp; &nbsp; &nbsp; &nbsp; Here is the short
            list of possible practice:
        </p>
        <ul style="padding-left: 10px; padding-right: 10px">
            <li>
                <a href="{{pathFor 'lightingPage'}}" class="custom-href">Light control</a>
            </li>
            <li>
                <a href="{{pathFor 'videoPage'}}" class="custom-href">Video tracking</a>
            </li>
            <li>
                <a href="{{pathFor 'climatePage'}}" class="custom-href">Climate control</a>
            </li>
            <li>
                <a href="{{pathFor 'growingSolutionsPage'}}" class="custom-href">Plant-growing</a>
            </li>
            <li>
                <a href="{{pathFor 'aquaSolutionsPage'}}" class="custom-href">Aquariums</a>
            </li>
        </ul>
        <p class="row" style="padding-left: 10px; padding-right: 10px">
            &nbsp; &nbsp; &nbsp; &nbsp; ...and much, much more.
        </p>
    </div>
</template>